Opgave 1, det her er sygt kedeligt.


Vi skal undersøge hvad vores pc, har af specs.
Mac:
M1 Pro
    CPU: En ny 10-core CPU med otte højtydende kerner og to højeffektive kerner
    GPU:M1 Pro har en op til 16-core GPU

16 gb ram
500 gb ssd



Google Colab:
12,7 gb ram
107,7 gb "disk"-plads.

Simple index []
df['course_title'][:10]
Her vælger vi kursus titel to de første 10

slicing:
df.loc[50:60, ['course_title','price']]
df.iloc[50:60, [2,5]]

boolean filter df[df['price']>150]

fancy index df[['x','x']]

Missing values
    - Hvad gør vi når vi skal se hvor der mangler "entries"
Checking for missing values in the dataset:
df.isnull().sum()
Den her måde får vi alle rækker hvor der er data:
df[~df.isnull()]

df.dropna() fjerner Na entries

Example: Filling missing values in the 'num_reviews' column with the average num_reviews.
df.fillna(df.number_reviews.mean(), inplace = True)

df.fillna(method = 'ffill', inplace = True) betyder at man bruger den forrige til at give dataet fra denne videre.
df.fillna(method = 'bfill', inplace = True) betyder at man bruger den efterfølgende værdi i den forrige til at udfylde Na

Når man skal joine på enten left eller right
bruger man pd.merge(df_new, instructors, how='left' , left_on = 'course_id', right_on='course_id')
pd.merge(df_new, instructors, how = 'right', left_on ='course_id', right_on='course_id' )

Aggregation:

Example: Finding the average number of subscribers.
df.num_subscribers.mean()


Example: Grouping by 'subject' and calculating total subscribers and average price.
df.groupby('subject')[['num_subscribers', 'price']].mean()

Exercise 9
Grouping by 'subject' and 'level' and calculating total subscribers, average price, and average num_reviews.
df.groupby(['subject', 'level'])[['num_subscribers', 'price']].mean()